<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @service.id %>
</p>

<p>
  <b>Description:</b>
  <%= @service.description %>
</p>

<p>
  <b>Header:</b>
  <%= @service.header %>
</p>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
