<%= render :partial => 'layouts/error_messages', :locals => { :c => @installation} %>
<p>   
    <%= f.label :name %><br />
    <%= f.text_field :name %>
</p>
<div class="album_photos">
  <%= render :partial => 'installation_iphoto', :collection => @installation.iphotos %>
</div>
<div id="photos">
  <% if @installation.new_record? %>
    <%= render :partial => 'iphoto', :locals => { :form => f, :iphoto => @installation.iphotos.build } %>
  <% end %>
</div>
   
<p><%= f.submit %></p>
  
