<h1>Services Display</h1>
<div class="services">
  <% for service in @services %>
      <p class="service">
        <%= service.header %>
        <%= sanitize(redcloth(service.description)) %>
      </p>
    <div class="actions">
    <%= link_to 'Edit', edit_manage_service_path(service) %> |
    <%= link_to "Delete", manage_service_path(service), :confirm => 'Are you sure?', :method => :delete %>
    </div>
  <% end %>
</div>
<p><%= link_to 'Back', manage_index_path %></p>
