<%= render :partial => 'layouts/error_messages', :locals => { :c => @product } %>
<p>
  <%= f.label :category_id %>
  <br />
  <%= f.collection_select :category_id, Category.all, :id, :name %>
<p>
  <%= f.label :name %>
  <br />
  <%= f.text_field :name, { :class => 'title' }  %>
</p>
<p>
  <%= f.label :description %>
  <br />
  <%= f.text_area :description %>
</p>
<p>
  <%= f.label :photo %>
  <% unless @product.new_record? %>
    <br />
    <%= image_tag @product.photo.url, { :class => "product_img" } %>
  <% end %>
  <br />
  <%= f.file_field :photo %>
</p>
<p class="actions"><%= f.submit %></p>
