<%= will_paginate @products %>
<div class="products">
<% for product in @products %>
  <div class="product">
    <h3>
      <%= link_to product.name, manage_product_path(product) %>
    </h3>
    <div class="actions">
      <%= link_to "Edit", edit_manage_product_path(product) %>
      <%= button_to "Destroy", manage_product_path(product), :confirm => "Are you sure?", :method => :delete %>
    </div>
  </div>
<% end %>
</div>
<%= will_paginate @products %>
<p><%= link_to "New Product", new_manage_product_path %></p>
