<h1><%= @product.name %></h1>
<%= Category.find_by_id(@product.category_id).name %>
<%= sanitize(redcloth(@product.description)) %>
<%= image_tag @product.photo.url %>
<div class="actions">
  <%= link_to "Edit", edit_manage_product_path(@product) %>
  <%= link_to "Destroy", manage_product_path(@product), :confirm => "Are you sure?", :method => :delete %>
</div>
