<h1>Management Control Panel</h1>

<div class="manage_box">
<h3>Products Management</h3>
<%= link_to "Create Product", new_manage_product_path %>
<br />
<%= link_to "Manage Products", manage_products_path %>
</div>

<div class="manage_box">
<h3>Gallery Management</h3>
<%= link_to "Create Gallery", new_manage_album_path %>
<br />
<%= link_to "Manage Galleries", manage_albums_path %> 
</div>

<div class="manage_box">
<h3>Services</h3>
<%= link_to "Create Service", new_manage_service_path %>
<br />
<%= link_to "Manage Services", manage_services_path %> 
<br/>
<%= link_to "Create Rentals Page", new_manage_rental_path %>
<br />
<%= link_to "Manage Rentals Pages", manage_rentals_path %> 
<br/>
<%= link_to "Create Sales & Purchase Page", new_manage_sale_path %>
<br />
<%= link_to "Manage Sales & Purchase Pages", manage_sales_path %> 
</div>


