<div class="col-1 col-indent">
  <div class="box">
    <h3>Categories</h3>
    <ul class="nostyle categories">      
      <% for category in @categories %>
        <li>
        <%= link_to category.name, category %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="col-2">
<%= will_paginate @products %>
  <% for product in @products %>
    <div class="catalog2-item">
      <%= link_to image_tag(product.photo.url(:small)), product, { :class => "catalog2-img"}  %>
      <div class="details">
        <%= link_to product.name, product %>
        <br />
        <%= sanitize(redcloth(product.description)) %>
      </div>
    </div>
  <% end %>
<%= will_paginate @products %>
</div>

