Categories:
<%= link_to "All", products_path %>
<% for category in @categories %>
<%= link_to category.name, category %>
<% end %>
<%= will_paginate @products %>
<div class="products">
<% for product in @products %>
  <div class="product">
      <%= link_to image_tag(product.photo.url(:small)), product  %>
      <%= link_to product.name, product %>
  </div>
<% end %>
</div>
<%= will_paginate @products %>
