Categories:
<%= link_to "All", products_path %>
<% for category in @categories %>
<%= link_to category.name, category %>
<% end %>
<%= will_paginate @products %>
<div class="products">
<% for product in @products %>
  <div class="product">
    <h3>
      <%= link_to product.name, product %>
    </h3>
  </div>
<% end %>
</div>
<%= will_paginate @products %>
