<div class="col-1 col-indent">
  <div class="box">
    <h3>Categories</h3>
    <ul class="nostyle categories">
      <li><%= link_to "All", manage_albums_path %>
      </li>
      <% for gcategory in @gcategories %>
        <li>
        <%= link_to gcategory.name, manage_gcategory_path(gcategory) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="catalog1">
<% for album in @albums %>
  <div class="catalog1-item">   
    <%= link_to get_first_image(album, :small), manage_album_path(album)  %>
    <%= link_to album.name, manage_album_path(album) %>
  </div>
<% end %>

</div>
<br/>
<p class="actions"><%= link_to "Back to Manage", manage_index_path %></p>

