<h1>Rentals</h1>
<br/>
<div class="col-1 col-indent">
  <div class="box">
    <h3>Menu</h3>
    <ul class="nostyle categories">
<li><%= link_to "Rental", rentals_path %></li>
<li><%= link_to "Sales/Purchase", sales_path %></li>
<li><%= link_to "Service & Maintenance", services_path %></li>
<li><%= link_to "Warranty", pages_warranty_path %></li><br/>
    </ul>
</div>
</div>
<div class="col-2">
<% for rental in @rentals %> 
  <strong><h3><%= rental.header %></h3></strong>
  <div class="prod_description">
   <p><%= sanitize(redcloth(rental.description)) %></p><br/>
   </div>
<% end %>
</div>
