<% content_for :head do %>
<%= javascript_include_tag "effects.js" %>
  <script> 
    document.observe('dom:loaded',function() {
      setInterval(function(){
        var imgs = $$('.fadein img'), 
        visible = imgs.findAll(function(img){ return img.visible(); });
        if(visible.length>1) visible.last().fade({ duration: .3 });
        else imgs.last().appear({ duration: .3, 
          afterFinish: function(){ imgs.slice(0,imgs.length-1).invoke('show');  } });
      }, 3000);
    });
  </script>
<% end %>

<h1>Rentals</h1>
<br/>
<div class="col-1 col-indent">
  <div class="box">
    <h3>Menu</h3>
    <ul class="nostyle categories">
<li><%= link_to "Rental", rentals_path %></li>
<li><%= link_to "Sales/Purchase", sales_path %></li>
<li><%= link_to "Service & Maintenance", services_path %></li>
<li><%= link_to "Warranty", pages_warranty_path %></li><br/>
    </ul>
</div>
<div class="col-2">
    <div id="main1" class="fadein">
      <img src="/assets/Rental1.jpg">
      <img src="/assets/Rental2.jpg">
      <img src="/assets/Rental3.jpg">
      <img src="/assets/Rental4.jpg">
      <img src="/assets/Rental5.jpg">
      <img src="/assets/Rental6.jpg">
      <img src="/assets/Rental7.jpg">    
      <img src="/assets/Rental8.jpg">    
      <img src="/assets/Rental9.jpg">    
      <img src="/assets/Rental10.jpg">    
      <img src="/assets/Rental11.jpg">    
      <img src="/assets/Rental12.jpg">    
      <img src="/assets/Rental13.jpg">    
    </div>
  </div>
</div>
<div class="col-2">
<% for rental in @rentals %> 
  <h3><strong><%= rental.header %></strong></h3>
<br/>
  <div class="prod_description">
   <p><%= sanitize(redcloth(rental.description)) %></p><br/>
   </div>
<% end %>
</div>
