<table border="1">
                    <% form_tag :action => "send_mail" do %>
                      		  
		      <tr align=left>
		         <td rowspan=5>Google Map of the company will be placed here</td>
                         <td><%= label :email, :name, "Name:" %></td>
                         <td><%= text_field :email, :name %></td>
                      </tr>

                      <tr align=left>
                         <td><%= label :email, :address, "EmailAddress:" %></td>
                         <td><%= text_field :email, :address %></td>
			 
                      </tr>

                      <tr align=left>
                         <td><%= label :email, :subject, "Subject:" %></td>
                         <td><%= text_field :email, :subject %></td>
                      </tr>

                      <tr align=left>
                         <td><%= label :email, :body, "Message:" %></td>
                         <td><%= text_area :email, :body, :rows => 8, :cols=> 50 %></td>
                      </tr>

                      <tr>
			 <td></td>
                         <td><%= submit_tag "Submit" %></td>
                      </tr>
                    <% end %>
                  </table>


