<h1> Contact Us </h1>
<table border="0">
                    <% form_tag :action => "send_mail" do %>
                       <tr align=left>
			<td>1 Yishun ST 23 #03-25</td>
		      </tr>
                       <tr align=left>
			<td>YS-One Singapore 768441</td>
		      </tr>
                       <tr align=left>
			<td>Office: (65)-67553933 </td>
		      </tr>
                       <tr align=left>
			<td>Fax: (65)-67555319</td>
		      </tr>
		      <tr align=left>                        
		         <td rowspan=5; heigh=150px; width=150px;><%= draw_map_of Location.new("Acmeca", 1.438345, 103.841057) %></td>
                         <td><%= label :email, :name, "Name:" %></td>
                         <td><%= text_field :email, :name %></td>
                      </tr>

                      <tr align=left>
                         <td><%= label :email, :address, "Email:" %></td>
                         <td><%= text_field :email, :address %></td>
			 
                      </tr>

                      <tr align=left>
                         <td><%= label :email, :subject, "Subject:" %></td>
                         <td><%= text_field :email, :subject %></td>
                      </tr>

                      <tr align=left>
                         <td><%= label :email, :body, "Message:" %></td>
                         <td><%= text_area :email, :body, :rows => 8, :cols=> 40 %></td>
                      </tr>

                      <tr>
			 <td></td>
                         <td><%= submit_tag "Send" %></td>
                      </tr>
                    <% end %>
                  </table>


