<strong><p>Name:</p></strong>
 
<p><%= @email_name %></p>

<strong><p>Contact:</p></strong>

<p><%= @email_contact %></p>

<strong><p>EMail:</p></strong>

<p><%= @email_address %></p>
 
<p><%= @email_time %></p>

<Strong><p>Message:</p></strong>
 
<p><%= @email_body %></p>


<strong><p>Time:</p></strong>

<p><%= @email_time %></p>
