<p>Name:</p>
 
<p><%= @email_name %></p>

<p>Subjects:</p>

<p><%= @email_subject %></p>

<p>EMail:</p>

<p><%= @email_address %></p>
 
<p><%= @email_time %></p>

<p>Message:</p>
 
<p><%= @email_body %></p>
