<strong><p>Name:</p></strong>
 
<p><%= @email_params.name %></p>

<strong><p>Contact Number:</p></strong>

<p><%= @email_params.contact %></p>

<strong><p>E-Mail Address:</p></strong>

<p><%= @email_params.address %></p>

<Strong><p>Message:</p></strong>
 
<p><%= @email_params.body %></p>


<strong><p>Time:</p></strong>

<p><%= Time.now %></p>
