<strong><p>Name:</p></strong>
 
<p><%= @email_name %></p>

<strong><p>Contact Number:</p></strong>

<p><%= @email_contact %></p>

<strong><p>E-Mail Address:</p></strong>

<p><%= @email_address %></p>

<Strong><p>Message:</p></strong>
 
<p><%= @email_body %></p>


<strong><p>Time:</p></strong>

<p><%= @email_time %></p>
