<h1>Back End-Home Page</h1>

Products:
<br/>
<%= link_to "New", new_manage_product_path %> |
<%= link_to "Show All", manage_products_path %> 
<br/>

Services:
<br/>
<%= link_to "New", new_manage_service_path %> |
<%= link_to "Show All", manage_services_path %> 
<br/>

Gallery:
<br/>
<%= link_to "New", new_manage_album_path %> |
<%= link_to "Show All", manage_albums_path %> 
<br/>

Installation:
<br/>
<%= link_to "New", new_manage_installation_path %> |
<%= link_to "Show All", manage_installations_path %> 
<br/>
