<%= form_for @album, :html => { :multipart => true } do |f| %>
<%= render :partial => 'layouts/error_messages', :locals => { :c => @album } %>
<p>
  <%= f.label :gcategory_id %>
  <br />
  <%= f.collection_select :gcategory_id, Gcategory.all, :id, :name %>
<p>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name, { :class => 'title' } %>
</p>

<%= f.fields_for :photos do |photo| %>
  <% if photo.object.new_record? %>
<p>
    <%= photo.file_field :data %>
</p>
  <% end %>
<% end %>

<%= f.fields_for :photos do |photo| %>
  <% unless photo.object.new_record? %>
    <p>
      <%= link_to image_tag(photo.object.data.url(:small)), photo.object.data.url(:medium) %>
      <%= photo.check_box :_destroy %>
    </p>
  <% end %>
<% end %>
<p>
  <%= f.submit %>
</p>
<% end %>
