<fieldset>
  <legend>Gallery</legend>
  <p>
    <strong>Name:</strong><%= @album.name %>
  </p>
  <% for photo in @album.photos %>
    <%= image_tag photo.data.url, :alt => "" %>
  <% end %>
  <p>
    <%= link_to "Edit", edit_manage_album_path(@album) %> |
    <%= link_to "Delete", manage_album_path(@album), :confirm => 'Are you sure?', :method => :delete %>
  </p>
</fieldset>
<%= link_to "New", new_manage_album_path %> 
