<% content_for :head do %>
<%= javascript_include_tag "effects.js" %>
  <script> 
    document.observe('dom:loaded',function() {
      setInterval(function(){
        var imgs = $$('.fadein img'), 
        visible = imgs.findAll(function(img){ return img.visible(); });
        if(visible.length>1) visible.last().fade({ duration: .3 });
        else imgs.last().appear({ duration: .3, 
          afterFinish: function(){ imgs.slice(0,imgs.length-1).invoke('show');  } });
      }, 3000);
    });
  </script>
<% end %>

<h1>Sales/Purchase</h1>
<br/>
<div class="col-1 col-indent">
  <div class="box">
    <h3>Menu</h3>
    <ul class="nostyle categories">
<li><%= link_to "Rental", rentals_path %></li>
<li><%= link_to "Sales/Purchase", sales_path %></li>
<li><%= link_to "Service & Maintenance", services_path %></li>
<li><%= link_to "Warranty", pages_warranty_path %></li><br/>
    </ul>
</div>
<div class="col-2">
    <div id="main1" class="fadein">
      <img src="/assets/Purchase1.jpg">
      <img src="/assets/Purchase2.jpg">
      <img src="/assets/Purchase3.jpg">
      <img src="/assets/Purchase4.jpg">
      <img src="/assets/Purchase5.jpg">
      <img src="/assets/Purchase6.jpg">
      <img src="/assets/Purchase7.jpg">
      <img src="/assets/Purchase8.jpg">
      <img src="/assets/Purchase9.jpg">
      <img src="/assets/Purchase10.jpg">
      <img src="/assets/Purchase11.jpg">
      <img src="/assets/Purchase12.jpg">
      <img src="/assets/Purchase13.jpg">
    </div>
  </div>
</div>
<div class="col-2">
<% for sales in @sales %> 
  <strong><h3><%= sales.header %></h3></strong>
  <br/>
  <div class="prod_description">
   <p><%= sanitize(redcloth(sales.description)) %></p><br/>
  </div>	
<% end %>
</div>
