<li class="first"><%= link_to "Home", root_path, :class => "active" %></li>
<li><%= link_to "Services", services_path %></li>
<li><%= link_to "Gallery", pages_gallery_path %></li>
<li><%= link_to "Products", products_path %></li>
<li><%= link_to "Contact", pages_contact_path %></li>
