<li class="first"><%= link_to "Home", root_path %></li>
<li><%= link_to "About Us", pages_aboutus_path %></li>
<li><%= link_to "Products", :controller => "/categories",  :action => "show", :only_path => false, :id => 1 %></li>
<li><%= link_to "Services", services_path %></li>
<li><%= link_to "Gallery", albums_path %></li>
<li><%= link_to "How It Works", installations_path %></li>
<li><%= link_to "Contact", pages_contact_path %></li>
<% if user_signed_in? %>
<li><%= link_to "Manage", manage_index_path %></li>
<% end %>

