<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Acmeca - Misting and Cooling Systems</title>
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= csrf_meta_tag %>
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'layout', :media => 'screen' %>
  <%= stylesheet_link_tag 'style', :media => 'screen' %>
  <%= stylesheet_link_tag 'forms', :media => 'screen' %>
  <%= stylesheet_link_tag 'dhonishow', :media => 'screen' %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
 
 <script>
   jQuery.noConflict();
 </script>
 <%= yield(:head) %>
</head><!--[if lt IE 7]>
  <link href="ie_style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/ie_png.js"></script>
  <script type="text/javascript">
  ie_png.fix('.png, h1 a, .menu-bg, .bunner-link, h5,  .row-2-link, ');
  </script>
  <![endif]-->
<body id="<%= page_type(yield :page_type) %>">
  <div class="extra">
    <!--header -->

    <div id="header">
      <div class="main">
        <div class="wrapper">
          <h1 class="logo"><%= link_to "Acmeca", root_path %></h1>
          <span class="tagline">Events Specialist - Misting and Cooling Professionals</span>
          <div><label id="rightname">Cooling System & Engineering Ptd Ltd</label></div>
	  <div class="logo2"><%= link_to "Acmeca", pages_aboutus_path %></div>
	 </div>
	
      </div>
      
      <div class="menu-bg">
        <div class="main">
          <div class="menu">
            <ul class="nostyle">
              <%= render 'layouts/links' %>
            </ul>
          </div>
        </div>
      </div>

    <%= yield :header %>
    </div><!--header end-->

    <div id="content">
      <div class="row-1">
        <div class="main">
          <div class="indent">
            <div class="wrapper">
              <% flash.each do |key, value| %>
              <div class="flash <%= key %>"><%= value %></div>
              <% end %> 
              <%= yield %>
            </div>
          </div>
        </div>
      </div>    
      <div class="row-2">
        <div class="main">
          <div class="indent">
            <div class="wrapper">
              <div class="col-1 col-indent1">
                <h2 class="h-border">Best Services</h2>

                <ul class="list1 width nostyle">
                  <li><a>Sales/Purchase</a></li>

                  <li><a>Rental/Lease</a></li>   
          
                  <li><a>Service &amp; Maintenance</a></li>             

                  <li class="last"><a>Warranty</a></li>
                </ul>
              </div>

              <div class="col-1 col-indent1">
                <h2 class="h-border">Mission Statement</h2>
                <ul class="list11 width nostyle">
<li>Acmeca’s mission is to create a personalized and effective solution for our clients for their events and venues. We will realize this mission by setting the highest standards in service, reliability, safety and cost containment in our industry.</li></ul>
              </div>
              <div class="col-1">
                <h2 class="h-border">Contact Us</h2>
                <ul class="list1 width nostyle">
                  <li><strong>Office: </strong>(65)-67553933</li>

                  <li><strong>Fax: </strong>(65)-67555319</li>

                  <li><strong>Email: </strong>acmeca@singnet.com.sg</li>
		  
		  <li><iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FAcmeca-Cooling-System-Engineering-Pte-Ltd%2F223774587677621&amp;width&amp;layout=box_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:65px;" allowTransparency="true"></iframe></li>
		</ul>
		
<!--
                <ul class="join nostyle">
                  <li><a href="#"><strong>RSS Submit</strong><span><img src=
                  "/images/rss.png" alt="" class="png" /></span></a></li>

                  <li><a href="#"><strong>Follow Us On Twitter</strong><span><img src=
                  "/images/twitter.png" alt="" class="png" /></span></a></li>

                  <li><a href="#"><strong>StumbleUpon</strong><span><img src=
                  "/images/stumb.png" alt="" class="png" /></span></a></li>
                </ul>
              -->
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <!-- Awards Logos -->
    <div class="row-3">      
      	<img height="60" width="100" src="../../assets/award1.png">
    </div>
    <!-- Awards Logos end -->
    <!--footer -->    
    <div id="footer">      
      <div class="main">	
        <div class="wrapper">	  
          <div class="policy">	    
            <strong>Acmeca Pte Ltd</strong> &copy; 2014 &nbsp;|&nbsp;
              <% if user_signed_in? %>
                Signed in as: <%= current_user.email %>
              <% end %>
            <!--{%FOOTER_LINK}-->
          </div>

          <div class="menu1">
            <ul class="nostyle">
              <%= render 'layouts/links' %>
              <% unless user_signed_in? %>
       <!--         <li><%= link_to "Login", sign_in_path %></li>-->
              <% else %>
                <li><%= link_to "Logout", sign_out_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div><!--footer end-->
  </div><script type="text/javascript">
//<![CDATA[
  Cufon.now(); 
  //]]>
  </script>   
</body>
</html>
