<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Acmeca - Misting and Cooling Systems</title>
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= csrf_meta_tag %>
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-1.4.2.js' %>
  <%= javascript_include_tag 'cufon-yui.js' %>
  <%= javascript_include_tag 'cufon-replace.js' %>
  <%= javascript_include_tag 'Myriad_Pro_300.font.js' %>
  <%= javascript_include_tag 'Myriad_Pro_400.font.js' %>
  <%= javascript_include_tag 'Myriad_Pro_600.font.js' %>
  <%= javascript_include_tag 'imagepreloader.js' %>
  <%= javascript_include_tag 'gmap.js' %>
  <%= javascript_include_tag 'pagination' %>
<!--  <%= javascript_include_tag 'jquery-1.3.2.min' %> -->
  <script type="text/javascript">
   jQuery.noConflict();
//<![CDATA[
  preloadImages(['/images/bunner-link-hover.png']);
  //]]>
  </script>
  <%= stylesheet_link_tag 'layout', :media => 'screen' %>
  <%= stylesheet_link_tag 'style', :media => 'screen' %>
  <%= stylesheet_link_tag 'forms', :media => 'screen' %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
 <%= yield(:head) %>
</head><!--[if lt IE 7]>
  <link href="ie_style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/ie_png.js"></script>
  <script type="text/javascript">
  ie_png.fix('.png, h1 a, .menu-bg, .bunner-link, h5,  .row-2-link, ');
  </script>
  <![endif]-->
<body id="<%= page_type(yield :page_type) %>">
  <div class="extra">
    <!--header -->

    <div id="header">
      <div class="main">
        <div class="wrapper">
          <h1 class="logo"><%= link_to "Acmeca", root_path %></h1>
<!-- Search form disabled
          <form id="form-1" action="">
            <div>
              <label class="left"><span class="input"><input name="name" value=
              "Searching..." onblur="if(this.value=='') this.value='Searching...'"
              onfocus="if(this.value =='Searching...' ) this.value=''" /></span></label>
              <a class="left" href="#" onclick=
              "document.getElementById('form-1').submit()"><img src="images/button.gif"
              alt="" /></a>
            </div>
          </form>
End of search form -->
        </div>
      </div>

      <div class="menu-bg">
        <div class="main">
          <div class="menu">
            <ul class="nostyle">
              <%= render 'layouts/links' %>
            </ul>
          </div>
        </div>
      </div>

    <%= yield :header %>
    </div><!--header end-->

    <div id="content">
      <div class="row-1">
        <div class="main">
          <div class="indent">
            <div class="wrapper">
              <% flash.each do |key, value| %>
              <div class="flash <%= key %>"><%= value %></div>
              <% end %> 
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

      <div class="row-2">
        <div class="main">
          <div class="indent">
            <div class="wrapper">
              <div class="col-1 col-indent1">
                <h2 class="h-border">Best Services</h2>

                <ul class="list1 width nostyle">
                  <li><a href="#">Quisque nulla. Vestibulum libe</a></li>

                  <li><a href="#">Jisl porta vel scel</a></li>

                  <li><a href="#">liquam congue fermentum nisl</a></li>

                  <li><a href="#">Vivamus eget nibhtiam</a></li>

                  <li class="last"><a href="#">Vestibulum sed anteonec</a></li>
                </ul>
              </div>

              <div class="col-1 col-indent1">
                <h2 class="h-border">Our standards</h2><strong>Praesent vestibulum
                molestie lacusenean</strong>

                <p class="top1">Quisque nulla. Vestiblum libero nisl, porta vel,
                scelerisque eget, malesuada at, neque ivamus eget nibh. Etiam cursus leo
                vel metusulla.</p><a href="#" class="row-2-link">Read more</a>
              </div>

              <div class="col-1">
                <h2 class="h-border">Find us elsewhere:</h2>

                <ul class="join nostyle">
                  <li><a href="#"><strong>RSS Submit</strong><span><img src=
                  "/images/rss.png" alt="" class="png" /></span></a></li>

                  <li><a href="#"><strong>Follow Us On Twitter</strong><span><img src=
                  "/images/twitter.png" alt="" class="png" /></span></a></li>

                  <li><a href="#"><strong>StumbleUpon</strong><span><img src=
                  "/images/stumb.png" alt="" class="png" /></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--footer -->

    <div id="footer">
      <div class="main">
        <div class="wrapper">
          <div class="policy">
            <strong>Acmeca Pte Ltd</strong> &copy; 2010 &nbsp;|&nbsp; <a href=
            "index-6.html">Privacy policy</a><br />
            <!--{%FOOTER_LINK}-->
          </div>

          <div class="menu1">
            <ul class="nostyle">
              <%= render 'layouts/links' %>
            </ul>
          </div>
        </div>
      </div>
    </div><!--footer end-->
  </div><script type="text/javascript">
//<![CDATA[
  Cufon.now(); 
  //]]>
  </script>
</body>
</html>
